# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #
#                           ~~~~~~~~~~                          #
#                             MolGL®                            #
#                           ~~~~~~~~~~                          #
#  -----------------------------------------------------------  #
#                     A Research Division of                    #
#         Sequømics Corporation, [http://sequomics.com/]        #
#  -----------------------------------------------------------  #
#             MAC O/S X El Capitan 10.11.6 (15G1108)            #
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #
.DS_Store
.AppleDouble
.LSOverride
# Thumbnails
._*
*.sublime-workspace

*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
